body,
html {
    width: 100%;
    height: 100%;
    background-color: #212529;
    overflow: auto;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

footer {
    bottom: 0;
    position: fixed;
    height: max-content;
    width: inherit;
}

p {
    overflow-wrap: anywhere;
}

h1{
    border-bottom: 2px solid black;
    text-align: center;
}

a:hover {
    font-weight: bold;
}

/* IDS */


@media (min-width: 576px) {
    #preview {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    #preview {
        max-width: 880px;
    }
}

#preview {
    background-color: white;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

/*CUSTOM IDS */

#outer-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#inner-container{
    padding: 3rem !important;
}

#bottom-divider{
     display: block; 
     height: 75px; 
}

@media (max-width: 775px) {
    #home-page {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #inner-container{
        padding: 0;
    }

    #outer-container{
        width: 90% !important;
    }
}

@media (max-height: 900px){
    footer{
        transform: translateY(36px);
        transition: transform 0.5s, opacity 0.5s;
    }

    footer:hover {
        transform: translateY(0px);
    }
}



/*CUSTOM CLASSES*/
.mt-5 {
    margin-top: 5rem !important;
}

.card a{
    color: black;
}

.card:hover{
    border: 2px solid darkslateblue;
}


.fade-in-image {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.slide-down {
    animation: slideDown 0.5s;
}

.slide-right{
    animation: slideRight 1.5s;
}



/*ANIMATIONS */

@keyframes slideDown{
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}