---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Hobbies | Rodrigo Nicolau Almeida">
  <div class="max-w-none space-y-9">
    <h1 class="text-3xl font-bold mb-8">Hobbies</h1>
    <article class="card bg-base-200 transition-all">
      <div class="card-body" style="background-color: rgba(142, 167, 205, 0.5)">
        <div class="flex justify-between items-start">
          <h2 class="card-title text-xl">Sports</h2>
        </div>
        <p class="mt-4">
          I am an avid amateur runner, and am keen to try out triathlons when
          the weather allows. If you are into these and other sports you can add
          me on <a
            class="link-not-blue hover:text-accent"
            href="https://www.strava.com/athletes/127154617"
          >
            Strava
          </a>.
        </p>
      </div>
    </article>
    <article class="card bg-base-200 transition-all">
      <div class="card-body" style="background-color: rgba(172, 227, 202, 0.5)">
        <div class="flex justify-between items-start">
          <h2 class="card-title text-xl">Creative Writing:</h2>
        </div>
        <p class="mt-4">To be Added.</p>
      </div>
    </article>
    <article class="card bg-base-200 transition-all">
      <div class="card-body" style="background-color: rgba(216, 182, 211, 0.5)">
        <div class="flex justify-between items-start">
          <h2 class="card-title text-xl">Cultural Interests</h2>
        </div>
        <p class="mt-4">
          If you like discussing books, and are keen to share your opinions, and
          you can add me on <a
            class="link-not-blue hover:text-accent"
            href="https://www.goodreads.com/user/show/184830196-rodrigo-almeida"
          >
            Goodreads
          </a>. Similarly, if you like discussing movies and want to share
          thoughts, you can add me on <a
            class="link-not-blue hover:text-accent"
            href="https://letterboxd.com/RodrigoNAlmeida">Letterboxd</a
          >.
        </p>
      </div>
    </article>
  </div>
</Layout>
