---
import Layout from "@/layouts/Layout.astro";
import { news } from "@/data/news";
import { marked } from 'marked';

const orderedList = news.reverse()
const renderMarkdown = (content: string) => {
    return marked.parse(content);
};
---

<Layout title="News | Rodrigo Nicolau Almeida">
    <div class="max-w-none space-y-2">
        <h1 class="text-3xl font-bold mb-8">News</h1>
        {
            orderedList.map((item) => (
                <div class="p-2 text-base-content bg-base-100 border">
                    <p>{item.time}</p>
                    <i><Fragment set:html={renderMarkdown(item.content)} /></i>
                </div>
            ))
        }
    </div>
</Layout>
