---
import Layout from "@/layouts/Layout.astro";

import {
  teaching,
  thesis_supervision,
  notes
} from "@/data/cv";

import CardList from "@/components/ui/CardList.astro";
import TeachingList from "@/components/ui/TeachingList.astro";
import ThesisList from "@/components/ui/ThesisList.astro";
---

<Layout title="Hobbies | Rodrigo Nicolau Almeida">
  <div class="prose max-w-none space-y-9">
    <h1 class="text-3xl font-bold mb-8">Teaching</h1>
    <p class='mt-4'></p> Together with Nick Bezhanishvili, we edited and expanded the notes for the course Mathematical Structures in Logic; if you find any typos, or have any comments, please contact us. </p>

    {
        teaching.length > 0 &&
        <TeachingList listTitle="Teaching" listItems={teaching} ></TeachingList>
    }

    {
        thesis_supervision.length > 0 &&
        <ThesisList listTitle="Thesis Supervision" listItems={thesis_supervision} ></TeachingList>
    }

    {
        notes.length > 0  && 
        <CardList listTitle="Lecture Notes & Documents" listItems={notes}></CardList>
    }
    
  </div>
</Layout>