---
import astroLogo from '../assets/astro.svg'
import background from '../assets/background.svg'
---

<div>
	<h1 class='text-3xl font-bold mb-8'>Hello There!</h1>
	<p class='mb-6 text-lg'>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, animi
		voluptates sint consectetur repellat veniam aut deleniti vero aliquam odit
		aspernatur architecto odio quae nam perferendis, tempora nostrum ea nemo.
		Ducimus, eum voluptatum deleniti explicabo soluta accusamus quasi?
		Aspernatur deleniti quasi adipisci facere esse aliquid numquam minima maxime
		similique sint ea dolorum sit magnam ipsam optio soluta, aut nulla?
		Doloremque. Similique laboriosam, corporis error aperiam sint, eum
		consequuntur tempora vitae excepturi saepe perferendis autem ea. Eos,
		aliquam esse? A veritatis vitae error rerum tempora molestiae non, nulla
		quis blanditiis maiores? Repellendus blanditiis laborum officiis in
		consectetur reprehenderit sunt deserunt dignissimos nihil facilis. Mollitia
		consectetur quod illum placeat cum sequi fugit consequuntur repellendus
		veniam, officiis laboriosam soluta recusandae dolore dolores? Autem. Omnis,
		nulla ut. Ad eius maxime quia amet omnis qui, inventore obcaecati cupiditate
		ab iusto impedit quae officiis facere quas aspernatur. Expedita voluptatem
		ipsum perferendis nam nostrum voluptates cupiditate amet? Dicta saepe enim
		reprehenderit. A dolor culpa iure cum incidunt iusto itaque inventore,
		architecto ab, cupiditate qui rerum? Maxime illo doloribus numquam soluta
		suscipit enim velit quo est maiores ipsam?
	</p>
	<p class='mb-6 text-lg'>
		Dolores, laudantium nostrum! Dolore vitae provident, quae voluptas tempore
		architecto quisquam ab fuga eaque vel enim eum unde facere nobis? Qui sunt,
		beatae at aliquam voluptatem a dignissimos asperiores id! Vitae repellendus
		deleniti pariatur aut alias corporis recusandae obcaecati, possimus dolorum
		delectus omnis fuga enim modi reiciendis eveniet natus voluptates aspernatur
		voluptate ex! Quaerat nam natus beatae similique, tempora ut. Cum suscipit
		rerum recusandae laborum ab ratione autem maiores sunt? Autem repellendus
		consectetur, commodi beatae unde ut ipsa aliquid deleniti perferendis
		excepturi fugiat nesciunt similique iure recusandae et? Quo, porro.
		Consequuntur, laudantium sit quia dignissimos sint totam corporis nemo
		fugiat eum repellat impedit officia odit. Nihil laboriosam sequi id porro.
		Autem at vero atque eaque perferendis suscipit ducimus distinctio eligendi!
	</p>
</div>
