<!--
Pass any SVG icon as children (recommended width/height : w-6 h-6 or size-6)
By default, it's using your primary color for styling
-->
<div class='w-12 h-12 inline-flex items-center justify-center rounded-xl bg-primary/20 text-primary'>
		<slot />
</div>
