---
import { template } from "@/settings"
const { page } = Astro.props
---
<div class="join flex justify-center mt-8">
  {/* Previous button */}
  <a
        href={page.url.prev}
    class:list={["join-item btn btn-sm", { "btn-disabled": !page.url.prev }]}
  >«</a>


  {/* Next button */}
  <a
        href={page.url.next}
    class:list={["join-item btn btn-sm", { "btn-disabled": !page.url.next }]}
  >»</a>
</div>
