---
import {type Teaching} from '@/types/cv.tsx';
interface Props {
    listTitle: string;
    listItems: Teaching[];
}
const { listTitle, listItems } = Astro.props;
---

<div
    class="card border border-gray-200 rounded-lg bg-base-200"
>
    <div class="p-4 flex items-center justify-between">
        <h1 class="text-3xl font-bold">{listTitle}</h1>
    </div>
    <div class="flow-root bg-white">
        {
            listItems.map((item) => (
                <ul class="text-base-content border p-2 m-0">
                    <h3 class="text-xl font-semibold hover:text-accent">{item.title} - {item.position} {item.collaboration}</h3>
                </ul>
            ))
        }
    </div>
</div>
